.app-header {
  @apply flex items-center bg-gray-200 dark:bg-gray-800 py-4 px-6;
}

.header-left {
  @apply w-1/5 flex;
}

.logo-header {
  @apply h-12 ml-10 ;
}

.header-center {
  @apply w-3/5 text-center;
}

.toggle-mode {
  @apply w-32 p-2 text-black dark:text-white rounded cursor-pointer;
  transition: background-color 0.1s ease;
}

.toggle-mode:hover {
  @apply dark:bg-gray-700 bg-gray-300;
}

.header-right {
  @apply w-1/5 flex justify-end;
}

.button-login {
  @apply w-16 p-2 mr-5 text-black dark:text-white rounded cursor-pointer
   hover:bg-gray-300 dark:hover:bg-gray-700;
  transition: background-color 0.1s ease;
}